@import url('https://fonts.googleapis.com/css?family=Poppins');

.landingComp > div {
    width: 50%;
    min-height: calc(100% - 78px);
    max-height: calc(100% - 78px);
    margin-top: -3.1px;
    float: left;
    padding-top: calc(25vh - 100px);
}
.landingComp:first-child {
    padding-left: 80px;
    font-family: 'Poppins', sans-serif;
    padding-right: 80px;
}
.secondComp {
    padding-right: 80px;
    margin-left: -80px;
}
.landingHeader {
    font-size: 40px;
    color: #403656;
}
.landingParagraph {
    color: #403656;
    font-size: 16px;
    padding-right: 200px;
}
.findOutMore {
    text-decoration: none;
    border: none;
    background-color: #fbaa31;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
}
.findOutMore:hover {
    background-color: #fa9805;
}
.secondButton {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 19px;
    padding-right: 19px;
    text-decoration: none;
    border: 1px solid #e0e0e0;
    width: 145px;
    height: 50px;
    font-size: 15px;
    color: #262626;
    border-radius: 5px;
    margin-left: 10px;
}
.secondButton:hover {
    border-color: #bebebe;
}
.landingImage {
    width: 50vw;
}